.App{
    margin-left:90px
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 100%;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"],
.form-group textarea,
.form-group input[type="float"],
select {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 3px;
}

/* select .espacement,  select .maille_banquette{
    display: inline !important;
    width: 50% ;
} */

.btn-container {
    display: flex;
    justify-content:center;
}

.btn {
    padding: 10px 20px;
    margin: 0px 5px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    background-color: #45a049
}