.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-end;
}
.definition {
  border: 2px solid #333;
  padding: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.definition-container {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  background-color: #333; /* Couleur de fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: space-between; /* Espacement équitable entre les éléments */
}

.definition-content {
  width: 100%;
}

.definition-text {
  margin: 0;
  
}

.image-container {
  width: 30%;
  display: inline;
  flex-direction: column;
  align-items: flex-end; /* Alignement à droite */
}



.small-images {
  display: flex;
  align-items: center; /* Alignement vertical */
  justify-content: flex-end; /* Alignement à droite */
  margin-top: 10px;
  width: 100%;
}

.small-image {
  width: 500%; /* Ajustement à 30% */
  margin-left: 5px; /* Marge à gauche entre les images */
  border-radius: 5px;
}
.definition p {
  margin: 0;
}

.hidden {
  display: none;
}

.nav-buttons {
  margin-top: 20px;
  display: flex;
}

.nav-buttons button {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Rend les boutons des cercles */
  margin: 0 5px;
  border: none;
  background-color: #333;
  color: #ffffff;
  cursor: pointer;
}

.nav-buttons button.active {
  background-color: #555;
}


.definition-title {
  font-weight: bold; 
  color: #ffffff;
}

.definition p {
  margin: 0;
  color: rgb(243, 243, 240); /* Couleur du texte blanc */
}

.banner-image {
  width: 100%;
  max-width: 1000px; /* Ajustez la largeur maximale selon vos besoins */
  border-radius: 10px; /* Facultatif : ajoutez une bordure arrondie */
  margin-bottom: 20px; /* Ajoute une marge en bas pour séparer de la div suivante */
  justify-content:left;
}

.description {
  max-width: 1000px; /* Ajustez la largeur maximale selon vos besoins */
  width: 100%;
  padding: 20px;
  background-color: #333; /* Couleur de fond */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre */
  color: #ffffff; /* Couleur du texte blanc */
  margin-bottom: 20px; /* Ajoute une marge en bas pour séparer de la div suivante */
}

.Title {
  font-family: 'Arial Black', Arial, sans-serif;
  font-weight: bold;
  margin: 10px;
  margin-bottom: 15px;
}
