/* SecurityPage.css */

.security-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .security-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
  }
  
  .pdf-upload input[type="file"] {
    display: block;
    margin-bottom: 20px;
  }
  
  .pdf-viewer {
    width: 100%;
    height: 600px;
    border: 1px solid #ccc;
  }
/* SecurityPage.css */

.pdf-upload input[type="file"] {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .pdf-upload input[type="file"]:hover {
    background-color: #0056b3;
  }