.App {
    font-family: Arial, sans-serif;
    margin: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  input[type="number"] {
    width: 50px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  table {
    border: none;
    margin-top: 20px;
    border-collapse: collapse; 
    width: 100%;
  }
  
  th,
  td {
    padding: 8px;
    text-align: center;
    position: relative; 
  }
  
  th {
    color: #007bff;
    text-decoration: underline;
  }
  
  /* Adjustments for arrows */
  .yellow,
  .green
   {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: scale(2) translateX(-30%);
    font-weight: bold; 
  }
  
  .red-down-left {
    position: absolute;
    top: 0;
    left: 50%;
    transform: scale(2) translateX(-180%);
    font-weight: bold;
    color: red;
    
  }
  
  .red-down-right {
    position: absolute;
    top: 0;
    left: 50%;
    transform: scale(2) translateX(90%);
    font-weight: bold; 
    color: red;
  }
  
  .yellow {
    color: yellow;
  }
  
  .green {
    color: green;
  }